{% extends 'admin.html' %}

{% block main %}
<div class="row">
    <div class="col-sm-8 offset-2">
        <h4 class="alert alert-info">Update Student Information</h4>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-success" value="Update">
            <a href="{% url 'student-list' %}" class="btn btn-info">All Student</a>
            <a href="{% url 'student-details' %}" class="btn btn-info">Add Student</a>
        </form>
    </div>
</div>
{% endblock main %}